project_id = "my-gcp-project"
region     = "us-central1"

state_bucket_name = "replace-me-fsharp-starter-tfstate"

github_repository_owner = "your-github-org"
github_repository_name  = "fsharp-starter"
github_deploy_branch    = "refs/heads/main"
